{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Currículo</title>
</head>
<body>
    <header>
            <h1> Ingrid Caroline </h1>
            <h2> < Desenvolvedora de Software /> </h2>
            <img id="star" src="{% static "imagens/bonbon-four-pointed-star-3.png" %}"/>
    </header>
    

    <main>
        <div class="sobre">
            
            <div>
            <h4> BEM VINDA(O) AO MEU PERFIL! </h4>
                <p>SOBRE MIM:</p> 
                <p class="texto_sobre"> Graduanda em Análise e Desenvolvimento de Sistemas, atuo como desenvolvedora fullstack, 
                    apaixonada por desafios, sempre me interessei por tecnologia portanto decidi investir em uma paixão 
                    que estava adormecida desde os meus 16 anos. Com foco no desenvolvimento web, trabalhei em projetos reais, 
                    como a aplicação de cupons personalidados por API Mock usando GeoLocalização, mudanças em checkout, home e etc.
                    Sempre lidei com pessoas, muitos me consideram, focada, calma e persistente, sempre com vontade de aprender pois também sou ambiciosa. 
                </p>
                <div>
                    (11) 98437-9522 | ingridcaroline3012@gmail.com
                    https://www.linkedin.com/in/ingridcaroline/
                    https://github.com/CarolineIngrid
                </div>
            </div>
            <img src="{% static "imagens/bonbon-web-development-1.png" %}"/>
        </div>
    </main>
        
    <aside>
        <div id="formacao">
            <h4> Formação Educacional </h4>
            <ul>
                <li>
                    2022/presente -
                    ANÁLISE EM DESENVOLVIMENTO DE SISTEMAS -
                    DESCOMPLICA

                <li> 2017/presente - LETRAS - UNIFESP
                </li>
        
                        <br>
        
                <h4> Essas são algumas das minhas habilidades </h4>
                </ul>
                <ul>
                    <li>Inglês avançado;</li>
                    <li>HTML e CSS;</li>
                    <li>JavaScript e VUEJS;</li>
                    <li>Python e Django;</li>
                    <li>Docker</li>
                    <li>Git e GitHub;</li>
                    <li>Noções básicas de Banco de dados e SQL;</li>
                    <li>Lógica de Programação;</li>
                    <li>Photoshop.</li>
                </ul>
                <br>
                <h4> Histórico Profissional </h4>
                <ul>
                   <h5> BUSER - 2022/2023 </h5>
                   <li> Estágio em Desenvolvimento de Software com foco em desenvolvimento
                    web full-stack visando melhorar a eficiência operacional do sistema de
                    backoffice da empresa, utilizando-se da linguagem de programação
                    JavaScript para o front-end, juntamente com o framework VueJS, e
                    Python para o back-end, utilizando o framework Django com bancos de
                    dados PostgreSQL, assim como a participação em cerimônias de produto,
                    como daily, meetings, alinhamentos, refining e retrospectivas
                   </li>
                </ul>
            </div>
    </aside>

        <footer>
            <h3>ENTRE EM CONTATO PELO FORMS OU REDES SOCIAIS </h3>
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" value="Salvar" id="buttonForm">Enviar</button>
                </form>  

                <div id="redes_sociais">

                    <div>
               
                        <a href="https://github.com/CarolineIngrid" target="_blank">  <img src="{% static "imagens/icons8-github-24.png" %}" alt="github"> </a>
                    </div>
        
                    <div>
                        <a href="https://www.linkedin.com/in/ingridcaroline/" target="_blank">  <img src="{% static "imagens/icons8-linkedin-26.png" %}" alt="imagem-linkedin"> </a>
                    </div>
        
                    <div>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ingridcaroline3012@gmail.com" target="_blank"> <img src="{% static "imagens/icons8-gmail-32.png" %}" alt="imagem-gmail"> </a>
                    </div>
                </div>
            
        </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>