@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&family=Righteous&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: #feead9;
    font-family: 'Slabo', serif;
    height: 50vh;
}

#formacao{
    height: 50vh;
}

.sobre{
    display: flex;
}

footer{
    height: 30vh;
    background-image: url('/static/imagens/fundoQuadriculado.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:#bf2026;
    background-color: #ebdbda;
    font-family: 'Chivo Mono', monospace;
    
}

/* ------------ IMAGENS ------------- */
#star{
    margin-top: 2%;
    width: 80px;
    height: 80px;
}

/* ---------- TIPOGRAFIA ----------- */
h4{
    font-family: 'Slabo', serif;
}

.sobre{
    margin: 16px;
    padding: 22px;
    text-align: justify;
}